/eCatalogo/eCatalogo.Blazor/obj
/eCatalogo/eCatalogo.Blazor/bin
/eCatalogo/eCatalogo.Core/obj
/eCatalogo/eCatalogo.Core/bin
/eCatalogo/eCatalogo.Data/obj
/eCatalogo/eCatalogo.Data/bin
/eCatalogo/eCatalogo.UseCases/obj
/eCatalogo/eCatalogo.UseCases/bin
